.item{
    background-color: rebeccapurple;
 height: 300px;
 width: 300px;
}

.title {
    font-size: 1.5rem;
    margin-top: 5px;
    margin-left: 5px;
    color: white;
}

.img1 {
    margin-top: 5px;
    width: 225px;
    margin-left: 2.3rem;
}

.text {
    font-size: 12px;
    margin-left: 5px;
    color: white;
}